*{
    list-style: none;
    margin: 0;
    text-decoration: none;
    font-family: var(--primary-font);
    padding: 0;
}
:root{
    --primary-color:#5ba515;
    --primary-font:'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}

.menu__bar,
.header__top__bar,
.menu__bar ul,
.right__side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__title{
    font-size: 36px;
    line-height: 29px;
    font-weight: 700;
    color: #333333;
}
.underline {
    width: 30%;
    background: var(--primary-color);
    height: 5px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 5px;
}
.section__gap{
    margin: 50px 0;
    padding: 50px 0;
}
.section__header__content{
    text-align: center;
    margin-top: 50px;
}
/*-------------------------------
 header section css start here
---------------------------------*/

.header__top__bar{
    padding: 20px 0;
}
.lan__currency a{
    font-size: 14px;
    line-height: 16px;
    color: #333;
    
}
.search__bar {
    width: 30%;
}
.search__bar>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="search"] {
    width: 90%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
}
i.fa-solid.fa-magnifying-glass {
    width: 14%;
    background: var(--primary-color);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.user__info ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* menu bar  */
.menu__bar{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.menu__bar ul{
    gap: 50px;
}
.right__side{
gap: 20px;
}

/*----------------------------
 header section css end here  
------------------------------*/

/*------------------------------
 banner section css start here
---------------------------------*/
.banner{
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.slider{
    position: relative;
}
.slider .content{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%,-50%);
}
.subTitle{
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 4px;
    color: #555555;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.title{
font-size: 68px;
line-height: 70px;
color: #000;
}
.btn{
    font-size: 16px;
    line-height: 18px;
    background-color: var(--primary-color);
    padding: 10px 25px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.title span{
    display: block;
}
.banner .content p{
    margin-bottom: 50px;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: .4;}
    to{
        opacity: 1;
    }
}
/*----------------------------
 banner section css end here
-------------------------------*/


/*----------------------------
 choose section css start here
-------------------------------*/
#choose{
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 30px;

}
.image__container,
.content__container{
    flex:50%;

}
.image__container img{
    width: 100%;
}
#choose .content__container p{
    color: #707070;
    line-height: 24px;
    font-size: 15px;
}
#choose .content__container p a{
    color: var(--primary-color);
    font-style: italic;
}
.chose__List{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.chose__List i{
    font-size: 80px;
    color:var(--primary-color);
}
.chose__List .name{
    font-size: 20px;
    line-height: 22px;
    color: #444444;
    font-weight: bold; 
    margin-bottom: 10px; 
}

/*----------------------------
 choose section css end here
-------------------------------*/


/*----------------------------
 product section css start here
-------------------------------*/
.section__header__content img{
    margin-top: 20px;
}
.section__header__content p{
    margin: 30px 0;
}
.product__Container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}
.product__Container .card{
    position: relative;
    border: 1px solid #dee2e6;
    padding-bottom: 10px;
    border-radius: 3px;
}
.product__Container .card img{
    width: 100%;
}
.product__Container .card ul{
    display: flex;
    width: 40%;
   display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transform: translate(-30%, -100%);
    transition: 1s;
}
.product__Container .card:hover ul{
    display: flex;
    transition: 1s;
    top: 80%;
    left: 38%;
}
.product__Container .card ul li:hover{
    background-color: var(--primary-color);
    color: #fff;
    transition: .5s;
}
.product__Container .card ul li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product__Container .card ul i{
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
}

.p__title{
    color: #707070;
   font-size: 15px;
   text-align: center;
   margin: 10px 0;
}
.price{
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #444444;
    text-align: center;
}
/*----------------------------
 product section css end here
-------------------------------*/



/*----------------------------
 service section css start here
--------------------------------*/
#services{
    margin: 50px 0;
    padding: 50px 0;
}
#services .container{
    width: 60%;
    margin: auto;
}
#services .content__wrap{
    display: flex;
    justify-content: space-between;
}
#services .content__wrap>div{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

#services .content__wrap i{
    color: var(--primary-color);
    font-size: 50px;
}
#services .content__wrap .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#services .content__wrap .content h4{
    font-size: 16px;
    line-height: 18px;
    color: #444444;
}
#services .content__wrap .content p{
    font-size: 15px;
    line-height: 24px;
    color: #707070;
}
/*---------------------------
 service section css end here
------------------------------*/